<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <title>Home</title>
    <style>
        body {
            margin: 20px;
        }
    </style>
</head>
<body>
    <h1>No cursos</h1>
    <span class="pr-3">Usuario: </span>
    <% if(user){%>
        <span class="badge bg-success"><%= user.nombre %></span>
    <%}%>

    <span class="pr-3">Rol: </span>
    <% if(user){%>
        <% if(user.rol == "admin"){%>
            <span class="badge bg-warning"><%= user.rol %></span>
        <%}else if(user.rol == "usuario"){%>
            <span class="badge bg-primary"><%= user.rol %></span>
        <%}%>
    <%}%>
    <a href="logout" class="pl-3 btn btn-danger" >Sign out</a>


    <div class="container mt-5">
        <div class="row">
          <div class="col-md-7">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td>n°</td>
                  <td>Título</td>
                  <td># Lecciones</td>
                  <td>Imagen</td>
                  <td>Acciones</td>
                </tr>
              </thead>
              <tbody>
                <% if (data) { %>
                  <% for(var i = 0; i < data.length; i++) { %>
                    <tr>
                      <td><%= (i + 1) %></td>
                      <td><%= data[i].nombre %></td>
                      <td><%= data[i].num_lecciones %></td>
                      <td><%= data[i].imagen %></td>
                      <td>
                        <a href="/update/ <%= data[i].id %>" class="btn btn-info">Edit</a>
                        <a href="/delete/ <%= data[i].id %>" class="btn btn-danger">Delete</a>
                      </td>
                    </tr>
                  <% } %>
                <% } %>
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <div class="card-body">
      
              <form action="/add" method="POST">
                <div class="form-group">
                  <input type="text" name="nombre" placeholder="Título" class="form-control" autofocus>
                </div>
                <!-- <div class="form-group">
                  <input type="text" name="" placeholder="Address" class="form-control">
                </div> -->
                <!-- <div class="form-group">
                  <input type="text" name="phone" placeholder="Phone" class="form-control">
                </div> -->
                <div class="form-group">
                  <input type="number" name="num_lecciones" placeholder="# Lecciones" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="imagen" placeholder="Link a imagen" class="form-control">
                </div>
      
                <button type="submit" class="btn btn-primary">
                  Guardar información
                </button>
      
              </form>
            </div>
          </div>
        </div>
      </div>
</body>
</html>